/* style.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    /* Make flex container flexible */
    display: flex;
    /* Display flex items vertically */
    flex-direction: column;
    min-height: 100vh;
}

main.container {
    /* Grow to take up any available space within its flex container */
    flex-grow: 1;
}
